.article {
    @extend .clearfix;

    margin-bottom: 40px;
    clear: both;

    &__byline {
        color: $color_light;
        font-weight: 200;
        font-size: 1.8rem;
    }

    &__content {
        margin-bottom: 30px;
    }

    &__read-more {
        @extend .button;

        float: right;
    }

    &__resources {
        @extend clearfix;

        border-top: 1px solid #EEEEEE;

        &__title {
            display: block;
            margin: 4rem 0 2.5rem;
            color: $color_light;
            font-size: 1.8rem;
        }

        &__link {
            @include hyphenate();

            font-size: 1.8rem;
        }
    }
}