.article {
    @extend .clearfix;

    margin-bottom: 40px;

    &__byline {
        color: $color_light;
        font-weight: 200;
        font-size: 1.8rem;
    }

    &__read-more {
        @extend .button;

        float: right;
    }
}