.author {
    display: flex;
    text-align: left;
    font-size: 1.6rem;

    @include breakpoint($tablet) {
        display: block;
        text-align: center;
    }

    &__avatar {
        margin-right: 16px;
        width: 75px;
        height: 75px;
        flex: 0 0 75px;

        @include breakpoint($tablet) {
            margin: 0;
            width: 115px;
            height: 115px;
        }
    }

    &__description {
        margin-top: 0;

        @include breakpoint($tablet) {
            margin-top: 16px;
        }
    }
}