html {
    font-size: 10px;
}

body {
    color: $color_dark;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
    color: $color_splash;
    text-decoration: underline;

    &:hover {
        color: darken($color_splash, 10%);
    }

    &:active {
        color: darken($color_splash, 15%);
    }

    &:visited {
        color: darken($color_splash, 5%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2em;
    font-weight: 600;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    &::before {
        color: $color_light;
        font-weight: 200;
    }

    & a {
        color: $color_dark;
        text-decoration: none;

        &:hover {
            color: $color_dark;
        }

        &:active {
            color: $color_dark;
        }

        &:visited {
            color: $color_dark;
        }
    }
}

h1 {
    margin-top: 4rem;
    font-size: 3rem;

    &::before {
        content: "# ";
    }
}

h2 {
    font-size: 2.4rem;

    &::before {
        content: "## ";
    }
}

h3 {
    font-size: 2rem;

    &::before {
        content: "### ";
    }
}

p {
    line-height: 1.6;
}