.container {
    @extend .clearfix;

    margin: 0 auto;
    padding: 0 $site_gutter;
    max-width: ($site_width - ($site_gutter * 2));
    width: 100%;
}

.content {
    float: right;
    width: 68.75%;
}

.sidebar {
    float: left;
    margin-top: 30px;
    padding-right: 30px;
    width: 31.25%;

    &--fixed {
        position: fixed;
        max-width: 260px;
        width: 28.5%;
    }
}