.highlight {
    @extend .clearfix;

    & .kd {
        color: #C792EA;
    }

    & .nx {
        color: #F55E53;
    }

    & .o {
        color: #80CBC4;
    }

    & .s2 {
        color: #C3E887;
    }

    & .p {
        color: #FFFFFF;
    }

    & .c1 {
        color: #546E7A;
    }
}