<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="description" content="{{ if isset . "Description" }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
        <link rel="icon" type="image/png" href="/images/{{ index $.Site.Data.images.hash "favicon-32x32.png" }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="/images/{{ index $.Site.Data.images.hash "favicon-16x16.png" }}" sizes="16x16" />
        <link rel="stylesheet" href="/css/{{ index $.Site.Data.styles.hash "main.css" }}" />
        {{ partial "analytics.html" . }}
    </head>
    <body>