/*
 * Layout
 */
$site_width: 960px;
$site_gutter: 20px;

/*
 * Styles
 */
$border_radius: 8px;

/*
 * Colors
 */
$color_dark: #333333;
$color_light: #CCCCCC;
$color_splash: #1FAC61;
$color_twitter: #55ACEE;
$color_divider: #EEEEEE;

/*
 * Breakpoints
 */
$tablet: 700px;